
.navbar{
    background-color: burlywood;
    ;
    z-index: 1;

}
.navbar-nav{
    flex-direction: row;    
}
.nav-link{
    margin-right: 2rem;
}

.card{
    display: flex;
    
    background-color: burlywood;
    padding:40px;
    margin-top: -80px;
}
.card-text{
   margin-top: 7%;
    color:aliceblue;
    font-size: 1.5rem;
    line-height: 1.5;
}
.container-1{
   margin-top: 5%;
   
}

  