
.navbar{
    background-color: burlywood;
   
    z-index: 1000;

}
.navbar-nav{
    flex-direction: row;    
}
.nav-link{
    margin-right: 2rem;
}
.contain{
  
  background-color:#e9d8c4;

}


    .carousel {
      width: 500px;
      height: 700px;
    }
  
   /* .carousel-item,
    .carousel-item img {
      height: 300px;
    }*/
  
  .bg-image{
   
    border-radius: 15px;
  }
  

.card{
    
    width: 100%;
    display: flex;
    padding: 2rem;
    background-color: burlywood;
    align-items: center;
    justify-content: center;
    
    img{
        margin: 0 auto;
        
       
    }
   
}
#carouselExampleControls .carousel-control-prev,
#carouselExampleControls  .carousel-control-next {
filter: invert(1);

}

.carousel-control-prev {
  left: -25%; /* Adjust the left position as needed */
}

.carousel-control-next {
  right: -25%; /* Adjust the right position as needed */
}

.card-text{
   margin-top: 7%;
    color:aliceblue;
    font-size: 1.5rem;
    line-height: 1.5;
}
footer {
    color: aliceblue;
    background-color: burlywood;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
    .text-start{
        margin: 10px 0 10px 20px;
     }
     .text-end{
        margin: 10px 20px 10px 0;
      }
    




  